.box1, .box2 {
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid rgb(86, 86, 209);
}

#button {
margin: 20px;
}

.box1 {
    margin: 10px;
    padding: 30px;
}
.shuffle {
    font-size: 40px;
}

.box2 {
    margin: 10px;
    padding: 30px;
}
body {
    background-image: url('https://i.pinimg.com/originals/c3/1e/43/c31e4363c08e3556d2a701b09f0c4b1d.jpg');
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
h1 {
    text-align: center;
}
p {
text-align: center;
}