.box1, .box2 {
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-top: 4px;
    padding: 5px;
    padding: 10px;
    margin: 10px;
}
.box2 {
    margin-top: 30px;
}

#button {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #f3ecac;
    border-radius: 18px;
    box-shadow: 0 7px rgb(124, 109, 109);
    margin-top: 10px;
    margin-left: 0px;
    font-size: 1px;
  }
  
  #button:hover {background-color: #fc0e0e}
  
  #button:active {
    background-color: #d7eed8;
    transform: translateY(4px);
  }

.shuffle {
    font-size: 20px;
}

body {
    background-image: url('https://i.pinimg.com/originals/c3/1e/43/c31e4363c08e3556d2a701b09f0c4b1d.jpg');
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
h1 {
    text-align: center;
}
p {
text-align: center;
}
h1 {
    background-color: #f0e68c;
}
P {
    color: #ff2205;
}
.dataPointsText1, .dataPointsText2 {
    color: rgb(252, 65, 65);
    margin: 15px 10px 10px 80px;
    background-color: white;
    display: inline-block;
}

.points1, .points2 {
    color: red;
    padding: 4px;
    margin: 15px 10px 10px 110px;
    font-size: 30px;
}
#bothBoxes {
    margin-left: 100px;
}
.player1Number, .player2Number {
    padding: 75px;
    background-image: url("https://images.unsplash.com/photo-1606398859237-bef6dcc14003?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGxheWluZyUyMGNhcmR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 70px;

}
.cardsImg {
    height: 210px;
    width: 210px;
}

#button2 {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #f3ecac;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px rgb(124, 109, 109);
    margin-top: 10px;
    margin-left: 5px;
}
#button2:hover {background-color: #fc0e0e}
  
#button2:active {
  background-color: #d7eed8;
  transform: translateY(4px);
}
#whoWin {
    /* padding-left: 300px; */
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
} 
 #reset-button {
    font-size: 1rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    background-color: rgb(243, 83, 83);
    color: white;
    border-color: white;
} 
 
#shuffle-button {
    font-size: 1rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    background-color: rgb(73, 73, 71);
    color: white;
    border-color: white;
}
.scoreboard {
margin-left: 400px;
}
